body { background: #393d68; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-helper-0 { color: #b6c1e9; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #1614a1; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #694f83; font-size: 18px; margin-bottom: 5px; }
.block-router-3 { color: #2156bb; font-size: 16px; margin-bottom: 5px; }
.block-search-4 { color: #a25133; font-size: 19px; margin-bottom: 5px; }
.block-search-5 { color: #31557a; font-size: 21px; margin-bottom: 5px; }
.block-user-6 { color: #1f3e37; font-size: 12px; margin-bottom: 5px; }
.block-search-7 { color: #10a7f7; font-size: 17px; margin-bottom: 5px; }